ion-tab-bar {
  --background: var(--toolbar-background-color);
}
ion-tab-button {
  --color-selected: #fff !important;
  --color: #222;

  ion-icon {
    color: #fff;
  }

  ion-label {
    color: #fff;
  }
}
