<app-header title="About"></app-header>

<ion-content>

  <div class="wrapper">
    <div class="topDiv">
      <img src="./assets/imgs/user.png" />
    </div>

    <div class="text">
      <p>
        Hi, I am Waleed, a professional Ionic App developer , with hands-on experience of 5+ years in developing cross platform apps for both Android and IOS.
      </p>

      <p>
        I am optimistic in my approach, and eager to learn new technologies. I am a very quick learner. I have worked with many clients worldwide.
      </p>

      <p>
        In addition to this, I am interested in teaching technical skills to others as well. That's why I started my Youtube channel and arranged some courses for fresh graduates.
      </p>

      <p>
        Have a look at my work here: 
      </p>
      <div>
        <a href="http://learnwithwaleed.com/">My Work</a>
      </div>

      <p>
        My Youtube Channel here:
      </p>
      <div>
        <a href="https://www.youtube.com/@learnwithwaleed2281">Learn With Waleed YouTube</a>
      </div>

    </div>
  </div>

</ion-content>